header {
    height: 200px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  header img {
    width: 200px;
    height: 200px;
  }
  header h1 {
    font-size: 90px;
    width:700px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }